.game {
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .lumberjack{
        z-index: 1;
        position: relative;
    }
}

h2 {
    margin-bottom: 2rem;
    color: #ddd;
    font-size: 32px;
    margin-bottom: 10px;
}

.translation {
    margin-top: 6rem;
    all: unset; /* Remueve estilos predeterminados */
    padding: 10px 15px;
    background-color: #000000;
    border: 1px solid #ddd;
    color: white;
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.3), inset 0 -4px 4px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    &:hover {
        box-shadow: none;
    }
    @media only screen and (min-width: 320px) and (max-width: 900px) {
		padding: 0px 24px;
        max-height: 56px;
	}

    .image {
        margin-right: 8px; /* Espacio entre imagen y texto */
        height: 20px; /* Ajusta el tamaño de la imagen */
        width: auto;
    }
}